# Operating System Files
**/.DS_Store

.cursor/
.pytest_cache/
# VS Code settings directory
.vscode/


#frontend
frontend/.bolt
frontend/node_modules

frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/



# Environments
.venv/
frontend/next-env.d.ts

# Byte-compiled / optimized / DLL files
backend/__pycache__/

**/__pycache__/**

# Specific to this project
backend/downloads/* 
backend/reels.txt
.env
backend/data/*
backend/logs.json
archetypes.txt
prompts.txt